language: java
sudo: required

services:
  - docker

install: true

script:
  - ./gradlew clean build

addons:
  artifacts:
    s3_region: "eu-central-1"
    paths:
      - $(rest-api/build/distributions/rest-api-*.zip)

before_deploy:
- pip install --user awsebcli

deploy:
  provider: script
  skip_cleanup: true
  script: .aws/deploy api-prod
  on:
    branch: master
    repo: nobt-io/api