<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.apache.logging.log4j.core,com.getsentry.raven.log4j2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %mdc{nobtId} %-5level %logger{36} - %msg%n" />
        </Console>
        <Raven name="Sentry">
            <!-- sentry is configured via env variables -->
            <Filters>
                <MarkerFilter marker="SENTRY" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Raven>
    </Appenders>
    <Loggers>
        <Logger name="com.getsentry.raven" level="OFF"/>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Sentry" />
        </Root>
    </Loggers>
</Configuration>