<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="io.nobt.logging">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <GitLabIssueAppender name="GitlabIssues" host="https://gitlab.com" username="nobt-io-bot" password="xmjmRRRanOcCiTPeYm9F" projectId="1208905">
            <PatternLayout pattern="%d{HH:mm:ss} %msg%n" alwaysWriteExceptions="false"/>
        </GitLabIssueAppender>
    </Appenders>
    <Loggers>
        <Logger name="io.nobt.rest.NobtApplication.unhandledExceptions" level="error">
            <AppenderRef ref="GitlabIssues"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>